
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(
        to bottom,
        #666d4c,
        #836445
        );
        display: flex;
        justify-content: space-between;
        align-items: center;

}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
    text-decoration: none;
}

#navbar  #logo  {
    flex:1 ;
}

#navbar img {
    width: 200px;
}

#navbar  .cta-button {
    background-color: rgb(220, 40, 40);
    color: rgb(255, 255, 255);
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

#layout {
    width: 800;
    margin: 48px 24px;
    font-size: 24px;
    height: 200vh;

}

#header {
    position: sticky;
    top: 0px;
}

#navbar-bottom {
    background: linear-gradient( to bottom,rgb(141, 2, 127),rgb(50, 84, 96));
    display: flex;
    justify-content: space-between;
}

#navbar-bottom a {
    text-decoration: none;
    color: white;
    padding: 12px 36px;
}

#navbar-bottom   .cta-button {
    background-color: rgb(220, 40, 40);
    color: rgb(255, 255, 255);
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

#navbar-bottom-3 {
    background: linear-gradient( to bottom,rgb(141, 2, 127),rgb(50, 84, 96));
    display: flex;
    justify-content: space-between;
}

#navbar-bottom-3 a {
    text-decoration: none;
    color: white;
    padding: 12px 36px;
}

#navbar-bottom-3    .cta-button {
    background-color: rgb(220, 40, 40);
    color: rgb(255, 255, 255);
    border-radius: 36px;
    padding: 40px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}


.spacer {
    width: 40vh;
}
