
* {
    box-sizing: border-box;
}

body  {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-1 {
    background-image:url(../images/) ;
}
/* #navbar {
    background: linear-gradient(
        to bottom,
        rgb(237, 75, 5),
        #6d3240
        );
        display: flex;
        justify-content: space-between;
        align-items: center;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar  #logo  {
    flex:1 ;
}

#navbar img {
    width: 200px;
}

#navbar  .cta-button {
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

#layout {
    width: 800;
    margin: 48px auto;
    font-size: 24px;
    height: 200vh;
}

#header {
    position: sticky;
    top: 0px;
}

#navbar-bottom {
    background: linear-gradient( to bottom,rgb(26, 32, 14),rgb(50, 84, 96));
    display: flex;
    justify-content: space-between;
}

#navbar-bottom a {
    text-decoration: none;
    color: white;
    padding: 12px 36px;
} */ */
