* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#gallery-layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 24px;
    border: 10px solid #333333;

}
.gallery img {
    width: 100%;
}

/* #spacer {
    height: 50vh;
    background-image: none;
} */



