
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#hero {
    background-image: url(..//images/photography.jpg);
    height: 65vh;
    width: 100vw;
    object-fit: cover;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;

}

#hero h1   {
    font-size: 8vw;
    margin-bottom: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
    color: rgb(255, 255, 255);
}

#hero h2 {
    font-size: 8vw;
    margin-right: 11vw;
    margin-bottom: 24px;
    color:rgb(255, 255, 255);
    font-family: "Bebas Neue", sans-serif;

}

#hero {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
    font-family: "Bebas Neue", sans-serif;
    
}

#hero a {
    font-size: 3.0vw;
    display: inline-block;
    justify-content: center;
    text-align: center;
    background: linear-gradient(red, blue);
    width: 400px;
    height: 100px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    padding: 20px 0px;
    margin: 5vh 15vw 0px 0px;
    
}


.spacer {
    height: 5vh;
    background-image: linear-gradient(red,blue);
    background-size: cover;
    background-attachment: fixed;
}



#gallery-1 {
    width: 18vw;
    max-width: 800px;
    margin: 48px auto;
    display:flex;
    flex: 1;
    align-content: center;
    justify-content: center;
    
}

#background-card {
    background: linear-gradient(red,blue);
}

.card {
    width:80%;
    border: 2px solid rgb(246, 239, 237);
    border-radius: 5px;
    padding: 10px;
    box-shadow: -4px 4px 12px #ceaaaa;
    display: flex;
    flex-direction: column;
}



.card a {
    color: black;
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
    background-color: blue;
    display: inline-block;
    color: white;
    width: 100%;
    height: 50%;
    padding: 24px;
    text-align: center;
    border: 3px solid lightcoral;
}





.card a:hover {
    background-color: transparent;

    transition:
        background-color 0.5s,
        color 0.9s; 
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-size: cover;
    background-color: rgb(73, 60, 86);
}


.layout-gallery-2 {
    width: 90vw;
    max-width: 2000px;
    margin: 48px auto;
}
.gallery-2  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 24px;
    border: 7px solid white;
    
}

.layout-gallery-2 h1 {
    padding-top: 24px ;
    display: flex;
    justify-content: center;
    font-size: 80px;
    color: white;
    background-color: rgb(15, 14, 21);
    text-align: center;
    padding: 24px;
}

* 
   {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.layout-gallery-3 {
    max-width: 2500px;
    margin: 48px auto;
}
.layout-gallery-3 img {
    width: 200%;
    height: 100%;
    object-fit: cover;
    
}

.gallery-3 {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    /* border: 10px solid white; */
    padding: 24px;
    gap: 34px;
} 

.gallery-3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 10px;
}

.layout-gallery-3 h1 {
    padding-top: 24px ;
    display: flex;
    justify-content: center;
    font-size: 80px;
    color: white;
    background-color: rgb(15, 14, 21);
    text-align: center;
    padding: 24px;
}
