#storm-1{
    text-align: center;
    font-size: 50px;
    font-weight: 900px;
    font-style: italic;
}
#storm-2{
    background-color: #001EFF;
    color: white;
    text-align:center;
    padding: 24px;    
}
#storm-3{
    background-color: #0D1867;
    color: white;
    text-align: center;
    padding: 24px;
}
#storm-4{
    background-color:#6776EC ;
    color: white;
    text-align: center;
    padding: 24px;
}
#marron-1{
    text-align: center;
    font-size: 50px;
    font-weight: 900px;
    font-style: italic;
}
#marron-2{
    background-color: #FF6200;
    color: white;
    text-align: center;
    padding: 24px;
}
#marron-3{
    background-color:#C15A1A;
    color:white;
    text-align: center;
    padding: 24px;
}
#marron-4{
    background-color:#B67247;
    color: white;
    text-align: center;
    padding: 24px;
}
#merveil-1{
    text-align: center;
    font-size: 50px;
    font-weight: 900px;
    font-style: italic;
}
#merveil-2{
    background-color:#1DC2FD ;
    color: white;
    text-align: center;
    padding: 24px;
}
#merveil-3{
    background-color: #4AF33A ;
    color: white;
    text-align: center;
    padding: 24px;
}
#merveil-4{
    background-color:#92E98A ;
    color: white;
    text-align: center;
    padding: 24px;
}
#le-soir{
    text-align: center;
    font-size: 50px;
    font-weight: 900px;
    font-style: italic;
}
#le-soir-1{
    background-color:#230000 ;
    color: white;
    text-align: center;
    padding: 24px;
}
#le-soir-2{
    background-color:#C47575 ;
    color: white;
    text-align: center;
    padding: 24px;
}
#le-soir-3{
    background-color:#382B2B ;
    color: white;
    text-align: center;
    padding: 24px;
}
