* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#grid-layout {
    display: grid;
    grid-template-columns:  250px 1fr;
    grid-template-areas:
        "header header"
        "sidebar main";
}

#header {
    background-color: lightgrey;
    grid-area:header;
}

#sidebar {
    background-color:rgb(253, 243, 243);
    grid-area:sidebar;
}

#main {
    background-color: rgb(221, 224, 224);
    grid-area:main;
}

