/* Drill 1 - Write your code solution below */
#d1-p1{
    color: green;
}

/* Drill 2 - Write your code solution below */
#d2-s1{
    color:#df01d8
}
#d2-s3{
    color:#df01d8
}
#d2-s2{
    color:#000000
}





/* Drill 3 - Write your code solution below */
#d3-s1{
    color: red;
}
#d3-s4{
    color:#eb9f35
}
#d3-s6{
    color:rgb(69, 57, 229)
}    


/* Drill 4 - Write your code solution below */
#d4-p1{
    background-color:skyblue
}

/* Drill 5 - Write your code solution below */
#d5-div1{
    background-color: peachpuff;
}
#d5-p1{
    background-color: pink;
}
#d5-p2{
    background-color: lightcoral;
}