* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#grid-layout {
    display:grid;
    grid-template-columns: 1fr 150px 600px 500px ;
    grid-template-areas: 
    "header header header header header"
    ".thumbnails image details.";
}

#header {
    grid-area: header;
}

#thumbnails {
    grid-area: thumbnails;
}

#product-image {
    grid-area: image;
}

#product-info {
    grid-area: details;
}

#header h1 {
    text-align: center;
    font-size: 49px;
}

#mebay {
    color: black;
    text-decoration: none;
}

#m {
    color: purple;
}

#e {
    color: red;
}

#b {
    color:blue ;
}

#a {
    color: gold;
}

#y {
    color: green;
}

#thumbnails {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-right: 12px;
}

.selected img {
    border-radius: 24px;
    width:100% ;
}

#thumbnails img {
    border-radius: 24px;
    width: 100%;
}

#product-image {
    margin-right: 36px;
}

.main-image {
    background-color: #eae0e0;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 24px;
}

.main-image  img {
    width: 80%;
}

#product-info h2 {
    margin: 0px;
}

#product-info.seller-info-container {
    border: 1px solid cornsilk;
    border-radius: 12px;
    padding: 12px 18px;
    margin: 24px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: beige;
}

#product-info .seller-info-container div {
    margin: 4px 0px;
}

#product-info .seller-info-container a {
    color: black;
}

#product-info img {
    height: 50px;
    border-radius:58%;
}

.bold {
    font-weight: bold;

}

#product-info .price {
    font-size: 30px;
    margin: 24px 0px;
    
}


#product-info .condition-label {
    margin-bottom: 8px;

}


.buttons a {
    display: block;
    border: 1px solid black;
    border-radius: 24px;
    padding: 18px;
    margin: 12px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color:white;

}

.buttons a.blue {
    background-color: blue;
}

.buttons a.lightblue {
    background-color: blue;
}

.buttons a.white {
    color: blue;
}